.bnr-container{
    display: flex;
    position: relative;
    background: #EFF7F2;
    height: 576px;
    padding-top: 50px;
}
.image {
    position: relative;
    left: 400px;
    top: 20px;
}
.border-left {
    border-left: solid 72px #000;
    height: 2px;
    margin-top: 23px;
    margin-left: 150px;
  }
  .bnr-container p {
    font-weight: 400;
    font-size: 16px;
    color: #525560;
    width: 517px;
    line-height: 160%;
    margin-top: 0px;
}
.bnr-container h1 {
    font-weight: 700;
    font-size: 56px;
    width: 627px;
    height: 134px;
    line-height: 120%;
    color: #1D2130;
    margin-top: 10px;
}
.bnr-container h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D2130;
 }
.banner{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
.grn-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    background: #70C174;
    color: white;
    backdrop-filter: blur(40px);
    border: #70C174;
    border-radius: 4px;
    width: 149px;
}