.bnr-container{
    display: flex;
    justify-content: space-around;
    position: relative;
    background: #EFF7F2;
    padding: 50px 110px 50px 110px;
    width: 100%;
}
.img-container{
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    width: 100%;
}
.image {
    position: relative;
    right: 0px;
    bottom: 0px;
    height: 24rem;
    width: 30rem;
}
.border-left {
    border-left: solid 72px #000;
    height: 2px;
    margin-top: 23px;
  }
  .bnr-container p {
    font-weight: 400;
    font-size: 1rem;
    color: #525560;
    width: 517px;
    line-height: 160%;
    margin-top: 0px;
}
.bnr-container h1 {
    font-weight: 700;
    font-size: 3.5rem;
    width: 627px;
    height: 134px;
    line-height: 120%;
    color: #1D2130;
}
.bnr-container h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D2130;
 }
.banner{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    width: 100%;
}
.grn-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    background: #70C174;
    color: white;
    backdrop-filter: blur(40px);
    border: #70C174;
    border-radius: 4px;
    width: 149px;
}
/* Tablet styles */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .bnr-container {
        flex-wrap: wrap;
        padding: 20px;
        padding-top: 50px;
    }
    .img-container{
        justify-content: center;
    }
    .banner{
        padding: 0px 100px;
    }
    .image {
        width: 75%;
        height: auto;
        margin: 50px 0px;
    }
    .bnr-container h1 {
        margin-top: 0px;
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }
    .bnr-container p {
        margin-top: -60px;
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }
    .bnr-container h3 {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 10px;
    }
    .grn-btn {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .border-left {
        border-left: none;
    }
}
/* Mobile styles */
@media only screen and (max-width: 768px) {
    .bnr-container {
        flex-wrap: wrap;
        padding: 20px;
    }
    .image {
        width: 100%;
        height: auto;
        margin: 20px 0px;
    }
    .border-left {
        border-left: none;
    }
    .bnr-container h1 {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }
    .bnr-container p {
        font-size: 0.8rem;
        width: 100%;
        text-align: center;
    }
    .bnr-container h3 {
        text-align: center;
        margin-top: 10px;
    }
    .banner{
        padding-left: 0px;
    }
    .grn-btn {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
}
