.left-column {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 592px;
    color: #1D2130;
}
.body-container p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #525560;
}
.body-container {
    display: flex;
    padding: 0px 110px;
}
.tabs {
    display: flex;
    flex-direction: row;
    line-height: 200%;
    color: #1D2130;
    cursor: pointer;
    gap: 50px;
    border-bottom: solid 1px;
    border-color: #E5E5E5;
    width: 400px;
    padding-left: 25px;
}
.tab-container .tabs li {
    border-bottom: none;
}
.tab-container .tabs li.active {
    border-bottom: 2px solid #70C174;
}
.tabs li {
    padding: 0 10px;
  }
.tab-container {
    width: 602px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 460px;
}
.lower-body {
    display: flex;
    padding: 80px 110px;
    gap: 280px;
    border-top: solid 1px;
    border-color: #E5E5E5;
}
.lower-h2 {
    width: 395px;
    margin-top: 0px;
}
.lower-body p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #525560;
}
.upper-p {
    width: 345px;
}
.lower-p {
    width: 374px;
}
.Image {
    margin: 50px 110px -100px 110px;
    background-color: rgba(0, 0, 0, 0.5); /* Dark opacity */
    border-radius: 20px;
}
.overlay {
    position: relative;
    border-radius: 20px;
    bottom: 288px;
    left: 110px;
    right: 110px;
    width: 1670px;
    height: 384px;
    background-color: rgba(0, 0, 0, 0.5); /* Dark opacity */
}
.center {
    position: relative;
    bottom: 600px;
    margin: 0px 110px -400px 110px;
}
.center-text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 520px;
}
.button-container{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
}
.green-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    position: relative;
    width: 200px;
    background: #70C174;
    backdrop-filter: blur(40px);
    border-radius: 4px;
    border-color: transparent;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    /* identical to box height */

    text-align: right;

color: #FFFFFF;
}
.white-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    position: relative;
    width: 116px;
    background: #FFFFFF;
    backdrop-filter: blur(40px);
    border-color: transparent;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    color: #1D2130;
}