.left-column {
    max-width: 37rem;
    display: flex;
    flex-direction: column;
    color: #1D2130;
}
.body-container p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #525560;
}
.body-container {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    padding: 0px 110px;
    width: 100%;
}
.tabs {
    display: flex;
    flex-direction: row;
    line-height: 200%;
    color: #1D2130;
    cursor: pointer;
    gap: 50px;
    border-bottom: solid 1px;
    border-color: #E5E5E5;
    width: 100%;
    padding-left: 25px;
}
.tab-container .tabs li {
    border-bottom: none;
}
.tab-container .tabs li.active {
    border-bottom: 2px solid #70C174;
}
.tabs li {
    padding: 0 10px;
  }
.tab-container {
    padding-left: 150px;
    padding-right: 210px;
    width: 100%;
}
.lower-body {
    display: flex;
    padding: 80px 110px;
    gap: 280px;
    border-top: solid 1px;
    border-color: #E5E5E5;
}
.lower-h2 {
    width: 395px;
    margin-top: 0px;
}
.lower-body p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #525560;
}
.upper-p {
    width: 345px;
}
.lower-p {
    width: 374px;
}
.image-container {
    margin: 0px 110px;
}
.Image {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 384px;
}
.overlay {
    position: relative;
    border-radius: 10px;
    bottom: 385px;
    width: 100%;
    height: 384px;
    background-color: rgba(0, 0, 0, 0.5); /* Dark opacity */
}
.center {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 700px;
    padding: 0px 200px;
}
.center-text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}
.button-container{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
}
.green-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    position: relative;
    width: 200px;
    background: #70C174;
    backdrop-filter: blur(40px);
    border-radius: 4px;
    border-color: transparent;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
color: #FFFFFF;
}
.white-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    position: relative;
    width: 116px;
    background: #FFFFFF;
    backdrop-filter: blur(40px);
    border-color: transparent;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    color: #1D2130;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .left-column {
      max-width: 50%;
    }
    .body-container {
      padding: 0px 40px;
    }
    .tab-container {
      padding-left: 40px;
      padding-right: 40px;
    }
    .lower-body {
      padding: 40px 40px;
      gap: 40px;
    }
    .lower-h2 {
      width: 50%;
    }
    .upper-p {
      width: 50%;
    }
    .lower-p {
      width: 50%;
    }
    .image-container {
      margin: 0px 40px;
    }
    .Image {
      justify-content: center;
      width: 80%;
      height: auto;
      margin: auto;
      margin-bottom: 300px;
    }
    .overlay {
      width: 50%;
      height: auto;
    }
    .center {
      padding: 190px 40px;
    }
    .center-text {
      font-size: 2rem;
      padding: 0px 250px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .left-column {
    max-width: 100%;
    }
    .body-container {
    padding: 0px 20px;
    }
    .tab-container {
    padding-left: 20px;
    padding-right: 20px;
    }
    .lower-body {
    padding: 20px 20px;
    gap: 20px;
    }
    .lower-h2 {
    width: 100%;
    }
    .upper-p {
    width: 100%;
    }
    .lower-p {
    width: 100%;
    }
    .image-container {
    margin: 0px 20px;
    }
    .Image {
    width: 100%;
    height: auto;
    }
    .overlay {
    width: 100%;
    height: auto;
    }
    .center {
    padding: 0px 20px;
    }
    }