.footer-container{
  display: flex;
  height: 402px;
  padding: 0px 110px;
  justify-content: space-between;
  background: #0B0706;
  color: white;
  align-items: center;
}
.footer-container li {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
 }
 .footer-container h4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.8px;
 }
 .footer-container h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  width: 440px;
 }
 .sub-form {
  width: 600px;
  margin-top: -70px;
 }
  .email-input {
    vertical-align: middle;
    color: #fff;
    background-color: #fff;
    border: 1px solid #ddd;
    background: transparent;
    width: 456px;
    height: 63px;
    border-left: 1px solid rgba(235, 240, 249, 0.3);
    border-top: 1px solid rgba(235, 240, 249, 0.3);
    border-bottom: 1px solid rgba(235, 240, 249, 0.3);
    border-right: transparent;
    border-radius: 4px 0px 0px 4px;
    z-index: -1;
  }
.submit-input{
  position: relative;
  margin-top: -20px;
  right: 80px;
  top: 0px;
  padding: 25px 32px;
  background: #FFFFFF;
  backdrop-filter: blur(40px);
  border-radius: 4px;
  font-weight: 600;
  font-size: 1rem;
  color: #1D2130;
}
.email-input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: rgba(235, 240, 249, 0.3);
  opacity: 0.8;
  padding-left: 20px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
}
.menu-list {
  position: relative;
  right: 40px;
  top: -10px;
}
.footer-container li {
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  opacity: 0.78;
}
.footer-container img {
  position: relative;
  top: -110px;
}