body {
  margin: 0px;
}
* {
  font-family: 'Roboto';
  overflow-x: hidden;
}
h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 120%;
}
h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
}
h3 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
}
h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
h5 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
}
h6 {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 150%;
}
li {
  list-style: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
@media(min-width:1500px) {
  html {
    font-size: 100%;
  }
}
@media(max-width:1340px) {
  html {
    font-size: 95%;
  }
}
@media(max-width:1024px) {
  html {
    font-size: 90%;
  }
}
@media(max-width:767px) {
  html {
    font-size: 85%;
  }
}